.ipynb_checkpoints/
setter_skelton_detection/coco-annotator
setter_skelton_detection/VNL2025
setter_skelton_detection/README.pdf
volleyball_project
__pycache__/
setter_skelton_detection/weights/best.pt

.DS_Store
.claude/
LICENSE
setter_skelton_detection/.DS_Store